# .conda/
# .snakemake/
# data/
# logs/
# *.gtf
# *.gff3
# trimmed/
*
!wrappers
!wrappers/*
!wrappers/star
!wrappers/star/*
!wrappers/star/align
!wrappers/star/align/*
!wrappers
!wrappers/*
!wrappers/subread
!wrappers/subread/*
!wrappers/subread/feature_counts
!wrappers/subread/feature_counts/*

!scripts
!scripts/*
!scripts/common
!scripts/common/*
scripts/.snakemake*
!Snakefile
!config.yaml
!samples.csv
!units.csv
!resources
!resources/*
!envs
!envs/*
!environment.yaml
!LICENSE
!README.md
!rules
!rules/*
!.gitignore
!.editorconfig
!.gitattributes
!.test
!.test/data
